body {
	margin: 0;
	font-family: Helvetica;
}

header {
	background: gray;
}

header h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
	letter-spacing: 2px;

}
header nav {
	display: inline-block;
}

header nav ul {
	display: block;
	text-transform: uppercase;
	color: white;
	padding:40px;
	font-size: 13px;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	color: black;
}

section {
	background: #eee;
}

section article {
	width: 600px;
	text-align: center;
	padding: 50px;
	margin: 0 auto;
	font-size: 15px;
	}

article p a {
	color: green;
	text-decoration: none;
	font-weight: bold;
}